appsettings.json
appsettings.Development.json
T:\Source code c#\APDP_ASM_GR2\APDP_SIMS_GR2_SE06304\StudentManagementSystem\bin
T:\Source code c#\APDP_ASM_GR2\APDP_SIMS_GR2_SE06304\StudentManagementSystem\obj
