@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["Username"] != null)
    {
        <h1>Welcome @TempData["Username"]</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-success">Register</a>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}